body {
    background-image: url("https://i.picsum.photos/id/1029/4887/2759.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgba(101, 159, 247, 0);
}
div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#title {
    margin: auto;
}

#description {
    margin: auto;
}

#survey-form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
    background-color: midnightblue;
    opacity: 0.9;
}